.blurred-safe {
  filter: blur(12px);
  transition: filter 0.3s ease;
  cursor: pointer;
}


.blurred-safe:hover {
  filter: none; /* Reveal on hover, optional */
}


#success-message {
  animation: fadeIn 0.5s ease-in-out;
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
